* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pathway Extreme', sans-serif;
    font-size: 25px;

}

html,
body {
    height: 100%;
    width: 100%;
    margin: auto;
    scroll-behavior: smooth;
}

header {
    height: 10vh;
    /* width: 100vw; */
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 100px;
    background-color: #1C315E;
    color: white;

}

.right ul {
    list-style: none;
    display: flex;

}

.right ul li a {
    text-decoration: none;
    margin: 20px;
    color: #227C70;

}

.right ul li a:hover{
    color: #70c6bb;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    height: 100vh;


    background: url('/pexels-ash-421808.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.home h1 {
    font-size: 4pc;
    text-align: center;
    margin: 15px;
    color: white;
    font-weight: 600;
    opacity: 1;
    animation: fade 2s linear;
    text-shadow:2px 2px #227C70;
}
@keyframes fade{
    0%{
        opacity: 0.01;
    }
    100%
    {
        opacity: 1;
    }
}



.about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 50px auto;
}

.about .text {
    margin: 50px;
}

.about img {

    height: 50vh;

}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #227C70;
}

.menu h1 {
    font-size: 50px;
}

.all {
    /* font-size: 50px; */
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 50px auto;
    

}

.fooditems {

    margin-right: 50px;
}

.fooditems ol li {
    padding: 5px;
    font-size: 25px;
}

.price ul li {
    padding: 5px;
    font-size: 25px;
}

.price ul {
    list-style: none;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;

}

.contact h1 {
    font-size: 50px;
}

form {
    /* margin: 30px; */
    width: 450px;
    display: flex;
    flex-direction: column;
}

input,
textarea,
button {
    margin-top: 5px;
    
}
button{
     background: #1C315E;
     color: white;
}
button:hover{
    background: #455d92;
}
footer {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1C315E;

    color: white;
}

@media only screen and (max-width:1000px) {
    .about {
        flex-direction: column;
    }

}